// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'message';
@import 'websiteHeader';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(207, 207, 207); 
    border-radius: 4px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(204, 204, 204); 
}

body{
    font-size: 1rem;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

$chat_friendsSidebarWidth: 280px;

div#app{
    height: 100%;
  
    // app content
    div#content{
        padding-top: $navbarHeight;
        height: 100%;
        display: flex;
        flex-direction: row;

        div#friendsSidebar{
            width: $chat_friendsSidebarWidth;
            min-width: $chat_friendsSidebarWidth;
            display: flex;
            flex-direction: column;
            border-right: 1px solid rgb(202, 202, 202);
            height: 100%;

            div#sidebarHeader > div
            {
                display: inline-flex;
                overflow: hidden;
                width: 100%;
                height: 60px;
                padding: 3px 8px;

                picture{
                    min-width: 50px;
                    height: 50px;
                    overflow: hidden;
                    border-radius: 45px;

                    img{
                        min-width: 100%;
                        max-width: 100%;
                        max-height: 100%;
                        object-fit: cover;
                    }
                }

                div.dataContainer{
                    padding-left: 16px;
                    display: flex;
                    justify-content: left;
                    align-items: center;

                    span{
                        font-size: 22px;
                        font-weight: bolder;
                    }
                }
            }

            div#friends
            {
                display: flex;
                flex-direction: column;
                padding: 2px 8px;

                div.friend{
                    display: inline-flex;
                    padding: 5px 3px;
                    border-radius: 5px;
                    margin-bottom: 2px;
                    cursor: pointer;
                    width: 100%;
                    overflow: hidden;

                    &:hover{
                        background-color: rgb(247, 247, 247);
                    }
    
                    picture{
                        overflow: hidden;
                        border-radius: 25px;
                        min-width: 48px;
                        max-width: 48px;
                        max-height: 48px;
                        display: block;

                        img{
                           width: 100%;
                           height: 100%; 
                           object-fit: cover;
                        }
                    }
    
                    div.dataContainer{
                        display: flex;
                        flex-direction: column;
                        padding: 0 4px 0 8px;
                        max-width: calc(100% - 50px);

                        .hideText{
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }

                        span.name{
                            font-size: 18px;
                            height: 25px;
                        }

                        span.lastMessage{
                            font-size: 14px;
                            height: 20px;
                        }
                    }
                    
                }

                .active{
                    background-color: rgb(241, 241, 241);
                }

                .newMessage{
                    background-color: #c3e8de !important;

                    &:hover{
                        background-color: #bbe6da !important;
                    }
                }
            }
        }

        div#chatContent{
            height: 100%;
            width: 100%;
            overflow: hidden;
            
            div#chatWindow{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                position: relative;
    
                div#chatTop
                {
                    height: 60px;
                    border-bottom: 1px solid rgb(233, 233, 233);
                    display: flex;
                    align-items: center;

                    div#roomData
                    {
                        display: inline-flex;
                        padding: 0px 12px;

                        picture{
                            min-width: 50px;
                            max-width: 50px;
                            max-height: 50px;
                            overflow: hidden;
                            display: block;
                            border-radius: 30px;

                            img{
                                min-width: 100%;
                                max-width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        div.content{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            padding-left: 15px;

                            div.top{
                                height: 22px;
                                span{
                                    font-weight: bolder;
                                }
                            }
                            div.bottom{
                                height: 20px;
                                span{
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }

                // contaner for messages
                div#chatMessages{ 
                    width: 100%;
                    overflow-x: hidden;
                    height: calc(100% - 130px);
                }
        
                div#chatBottomInputsContainer{
                    border-top: 1px solid #ccc;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    height: 70px;
                    width: 100%;
                    padding: 5px 10px;
                    position: absolute;
                    bottom: 0;
                    
                    div#panel{
                        border-bottom: 1px solid rgb(163, 163, 163);
                        position: relative;
                        width: 100%;
                        padding: 0 6px;
                        margin: 0 12px 0 5px;

                        div#chatEmojisContainer{
                            position: absolute; 
                            width: max-content;
                            right: 14px;
                            display: flex;
                            height: 100%;

                            button#chatEmojiFace{
                                background: transparent;
                                border: none;
                                outline: none;
                            }

                            div#emojisContainer{
                                display: none;
                                position: absolute;
                                bottom: 40px;
                                right: 0;
                                width: 226px;
                                max-height: 280px;
                                overflow-x: hidden;
                                padding: 7px;
                                border-radius: 3px;
                                background-color: white;
                                border: 1px solid rgb(236, 236, 236);

                                .icon{
                                    font-size: 20px;
                                    margin: 0 2px;

                                    cursor: pointer;
                                    &:hover{
                                        background-color: rgb(219, 219, 219);
                                    }
                                }
                            }

                            div.active{
                                display: block !important;
                            }
                        }

                        textarea#chatMessageTextarea{
                            height: 34px;
                            font-size: 18px;
                            width: 100%;
                            padding: 3px 40px 3px 3px;
                            border: none;
                            background: transparent;
                            outline: none;
                            resize: unset;
                        }
                    }
                }
            }
        }
    } 
}
