div#chatMessages{
    
    div#messages{
        height: auto;
        overflow-y: auto;
        padding: 5px 3px;

        // MESSAGE 
        div.messageContainer{
            width: 100%;
            max-width: 100%;
            height: auto;
            padding: 2px;

            div.chatMessage{
                width: 100%;

                div.box{
                    display: flex;
                    flex-direction: row;

                    div.picture{
                        min-width: 40px;
                        height: auto;
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                    }

                    div.data{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin: 0 4px;
                        width: calc(100% - 90px);

                        div.top{
                            color: rgb(65, 65, 65);
                            span{
                                font-size: 13px;
                            }
                        }

                    }
                } 
            }

            // sender not default styles
            div.senderMessage{
                div.box{
                    flex-direction: row-reverse;
                    div.data{
                        align-items: flex-end;
                        div.content{
                            background-color: rgb(170, 212, 93);
                            color: white;
                        }
                    }
                }
            }
        }
    }
}